@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <div class="form-group">
        <label for="name">New User</label>
       
    </div>
    <div>
        <label>
            Username
            <input type="text" name="description" class="form-control" />
        </label>
    </div>
    <div>
        <label>
            Email
            <input type="text" name="description" class="form-control" />
        </label>
    </div>
    <div>
        <label>
            Password
            <input type="text" name="description" class="form-control" />
        </label>
    </div>
    <div>
    <label>
        Confirm Password
        <input type="text" name="description" class="form-control" />
    </label>
    </div>

    <input type="submit" value="Submit" />
</form>