@{
}
@model SpaDay.ViewModels.AddUserViewModel 
<h1>Sign Up Form</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user">
    <div class="form-group">
        <label asp-for="UserName">UserName</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress">Email Address</label>
        <input asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="VerifyPassword">Verify Password</label>
        <input asp-for="VerifyPassword" />
        <span asp-validation-for="VerifyPassword"></span>
    </div>
</form>
